<!doctype html>
<html ng-app="interviewApp">

<head>
	<script src="js/angular.js" type="text/javascript"></script>
	<script src="js/controllers/controllers.js" type="text/javascript"></script>
	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<script src="js/bootstrap.min.js"></script>
</head>

<body>

	<img src="images/fujitsu-logo.png" alt="..." class="img-rounded">

	<div ng-controller="interviewController">

		<table class="table table-striped">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Radius</th>
				<th>Volume</th>
			</tr>
			<tr ng-repeat="planet in planets">
				<td>{{planet.id}}</td>
				<td>{{planet.name}}</td>
				<td>{{planet.radius}}</td>
			</tr>
		</table>
	</div>

Please, input here the volume integer part of the planet that does not exist in solar system and click the hyperlink right to the input text :
	<input type="text" data-ng-model="volume" />
	<a href="/congratulation?volume={{ volume }}">Submit you answer</a>


</body>
</html>


