<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 th:text="${title}" />
    <img th:src="${'images/'+filename}" />
    <p th:text="'Please send your email with you CV and your source code project to ' + ${email} + '!'" />
</body>
</html>
